.top-portfolio {
  margin: 2px;
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.port-div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  .title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: underline;
    h4 {
      padding-right: 10px;
    }
  }
  .port-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: left;
      max-width: 50%;
      li {
        text-align: left;
      }
    }
  }
}
