.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  max-width: 70vw;
  h4,
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
