body {
  background-color: #83c58b;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90vw;
  margin: 5vw;
  margin-top: 0vw;
  background-color: $background;
  border-radius: 5px;
  padding: 2px;
}
.top-content {
  display: flex;
  padding: 10px;
  justify-content: center;
}
svg {
  height: 2em;
  width: 2em;
}
.skill-icons {
  display: flex;
  flex-direction: column;
}
.front-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.back-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.organisational {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-bottom: 0px;
  background-color: #c7eccb;
  border-radius: 5px;
  margin: 5px;
  max-width: 88vw;
  p {
    padding: 0px;
    height: 10px;
  }
}
